<div class="container py-5">
    <h1 class="text-center text-uppercase text-color py-2 fw-bolder">portfolio component</h1>
    <app-dark-line></app-dark-line>
    <div class="row">
        <div class="col-md-4">
            <figure class="position-relative">
                <img src="./images/poert1.png" alt="" class="w-100 rounded-3">
                <figcaption class="layer d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="position-relative">
                <img src="./images/port2.png" alt="" class="w-100 rounded-3">
                                <figcaption class="layer d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="position-relative">
                <img src="./images/port3.png" alt="" class="w-100 rounded-3">
                                <figcaption class="layer d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-4 col-md-6">
            <figure class="position-relative">
                <img src="./images/poert1.png" alt="" class="w-100 rounded-3">
                                <figcaption class="layer d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 col-md-6">
            <figure class="position-relative">
                <img src="./images/port2.png" alt="" class="w-100 rounded-3">
                                <figcaption class="layer d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 col-md-6">
            <figure class="position-relative">
                <img src="./images/port3.png" alt="" class="w-100 rounded-3">
                                <figcaption class="layer d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </figcaption>
            </figure>
        </div>
    </div>
</div>