<div class="container py-5">
    <h1 class="text-center fw-bolder bg-color text-uppercase">conatct section</h1>
    <app-dark-line></app-dark-line>
    <form class="w-50 m-auto">
        <label  for="userName" class="position-relative top-0 text-white">userName : </label>
        <input type="text" id="userName" placeholder="userName" class="form-control border-0 border-bottom py-3">
        <label  for="userAge" class="position-relative top-0 text-white">userAge : </label>
        <input type="number" id="userAge" placeholder="userAge" class="form-control border-0 border-bottom py-3">
        <label  for="userEmail" class="position-relative top-0 text-white">userEmail : </label>
        <input type="email" id="userEmail" placeholder="userEmail" class="form-control border-0 border-bottom py-3">
        <label  for="userPassword" class="position-relative top-0 text-white">userPassword : </label>
        <input type="password" id="userPassword" placeholder="userPassword" class="form-control border-0 border-bottom py-3">
        <button class="btn btn-color my-4 text-white" >Send message</button>
    </form>
</div>